<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Simon Game"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Activity principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".JuegoActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EstadisticasActivity" />
        <activity android:name=".MejoresResultadosActivity" />
        <activity android:name=".PantallaIntermediaActivity" />

    </application>

</manifest>
